extends ../layout


block content

    table.bordered
        thead
            tr
                th(data-field="") Date
                th(data-field="") Course Title
                th(data-field="") GCal Link
                th(data-field="") Extracted Links
                th
        //tbody#eventsTable
        each item in Events
            - var links = item.extractedlinks
            tr(id=item.gCalEventId)
                td= item.dateTime
                td= item.title
                td: a(href=item.eventLink target="_blank") Event URL
                td
                    each n in links
                        a(href=n)=n
                        br
                td: i.material-icons library_add