extends ../layout


block content

    table.bordered.responsive-table
        thead
            tr
                th(data-field="") Date
                th(data-field="") Course Title
                th(data-field="") GCal Link
                th(data-field="") Extracted Links
                th
        //tbody#eventsTable
        each item in Events
            - var links = item.extractedlinks
            - var date = item.dateTime.getMonth()+1 + "-" + item.dateTime.getDate() + "-" + item.dateTime.getFullYear();
            tr(id=item.id)
                td= date
                td= item.title
                td: a(href=item.eventLink target="_blank") Event URL
                td
                    each n in links
                        a(href=n target="_blank")=n
                        br
                td: form(action="/events/" + item.id method='POST')
                    button.btn(type="submit"):  i.material-icons library_add
