
nav
    .nav-wrapper
        a(href="/").brand-logo WDI Lesson Saver
        a(href="#" data-activates="nav-mobile").button-collapse
            i.material-icons menu

        - if (currentUser) {

        ul.right.hide-on-med-and-down
            li: a=currentUser.local.email
            li: a(href="/logout") Logout
        ul#nav-mobile.side-nav
            li: a=currentUser.local.email
            li: a(href="/events") Logout

        -   } else {

        ul.right.hide-on-med-and-down
            li: a(href="/login") Login
            li: a(href="/signup") Signup
        ul#nav-mobile.side-nav
            li: a(href="/login") Login
            li: a(href="/signup") Signup

        -   }


.flash.row.center-align
- if (typeof message !== 'undefined') {
    - if (typeof message.error !== 'undefined' && message.error.length > 0) {
        .card-panel.red= message.error
    - }
    - if (typeof message.info !== 'undefined' && message.info.length > 0) {
        .card-panel.blue= message.info
    - }
    - if (typeof message.success !== 'undefined' && message.success.length > 0) {
        .card-panel.green= message.success
    - }
- }



