extends ../layout


block content

    h3.center-align Favorites
    .row
        .col.s12.m6.offset-m3.center-align
            input#searchField(type="text" placeholder="Search Events").center-align
    table.bordered.responsive-table
        thead
            tr
                th(data-field="") Date
                th(data-field="") Course Title
                th(data-field="") GCal Link
                th(data-field="") Extracted Links
                th
        //tbody#eventsTable
        each item in Favorites
            - if (item.event) {
                - var links = item.event.extractedlinks
                - var date = item.event.dateTime.getMonth()+1 + "-" + item.event.dateTime.getDate() + "-" + item.event.dateTime.getFullYear();
                tr(id=item.event.gCalEventId)
                    td= date
                    td= item.event.title
                    td: a(href=item.event.eventLink target="_blank") Event URL
                    td
                        each n in links
                            a(href=n target="_blank")=n
                            br
                    td: form(action="/events/" + item.id + "?_method=DELETE" method='POST')
                        button.btn.waves-effect.waves-light.red(type="submit"):  i.material-icons delete
            - }